<div class="col-xs-12 col-sm-6 col-md-4 vertical-buffer"> 
  <div class="drink-container">
    <div class="dummy"></div>
    <div class="drink-image" style="background-image: url('<%= drink.image_path %>')" data-drink-id="<%= drink.id %>" %>
      <div class="drink-ingredients">
        <% drink.ingredients.each do |ingredient| %>
          <%= "#{ingredient.name} <br />".html_safe %>
        <% end %>
      </div>
      <div class="drink-title"><%= drink.name %></div>
    </div>
  </div>
</div>